
*.v2
Greenhouse/.vs/Greenhouse/v16/.suo
*.cache
*.v2
Greenhouse/.vs/Greenhouse/v16/.suo
Greenhouse/.vs/Greenhouse/v16/.suo
*.v2
*.dll
*.pdb
*.cache
*.dll
*.pdb
Greenhouse/.vs/Greenhouse/DesignTimeBuild/.dtbcache.v2
Greenhouse/.vs/Greenhouse/v16/.suo
Greenhouse/.vs/Greenhouse/DesignTimeBuild/.dtbcache.v2
Greenhouse/.vs/Greenhouse/v16/.suo
