
*.v2
Greenhouse/.vs/Greenhouse/v16/.suo
*.cache
*.v2
Greenhouse/.vs/Greenhouse/v16/.suo
Greenhouse/.vs/Greenhouse/v16/.suo
*.v2
*.dll
*.pdb
*.cache
*.dll
*.pdb
Greenhouse/.vs/Greenhouse/DesignTimeBuild/.dtbcache.v2
Greenhouse/.vs/Greenhouse/v16/.suo
Greenhouse/.vs/Greenhouse/DesignTimeBuild/.dtbcache.v2
Greenhouse/.vs/Greenhouse/v16/.suo
Greenhouse/.vs/Greenhouse/v16/.suo
*.cache
Greenhouse/.vs/Greenhouse/v16/.suo
Greenhouse/bin/Debug/netcoreapp3.1/Greenhouse.dll
Greenhouse/bin/Debug/netcoreapp3.1/Greenhouse.pdb
Greenhouse/obj/Debug/netcoreapp3.1/Greenhouse.csprojAssemblyReference.cache
Greenhouse/obj/Debug/netcoreapp3.1/Greenhouse.dll
Greenhouse/obj/Debug/netcoreapp3.1/Greenhouse.pdb
